.gap4 {
  gap: 4px !important;
}
.gap8 {
  gap: 8px !important;
}
.gap12 {
  gap: 12px !important;
}
.gap16 {
  gap: 16px !important;
}
.gap20 {
  gap: 20px !important;
}
.gap24 {
  gap: 24px !important;
}
.gap28 {
  gap: 28px !important;
}
.gap32 {
  gap: 32px !important;
}
.gap36 {
  gap: 36px !important;
}
.gap40 {
  gap: 40px !important;
}
.gap44 {
  gap: 44px !important;
}
.gap48 {
  gap: 48px !important;
}
.gap52 {
  gap: 52px !important;
}
.gap56 {
  gap: 56px !important;
}
.gap60 {
  gap: 60px !important;
}
