@charset "utf-8"; /*******************************main_txt*******************************/
/* 메인은 단독페이지이기 때문에 main에서 쓰이는 공통타이틀은 main.css에 작성
sub페이지에서 사용되는 공통타이틀은 sub.css에 작성 */
.main_tit {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0;
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
}

/* 메인타이틀 가상요소타이틀 */
.main_tit > span {
  color: var(--sub-violet);
}

/*******************************contents start*******************************/
.main_contents > section {
  width: 100%;
  box-sizing: border-box;
}
.main_contents > section .inner_size {
  padding: 120px 0;
  box-sizing: border-box;
}

/* sec01 */
.section01 {
  height: 760px;
  position: relative;
  background: url(/img/main/img_sec01.png) no-repeat center;
  background-position: right bottom;
  background-size: 702px;
}
.sec01_inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.sec01_left_tit {
  color: #ffff;
  font-size: 78px;
  font-weight: 700;
  line-height: 1.15;
}
.sec01_left_tit > span {
  font-size: 90px;
  color: var(--sub-violet);
}
.sec01_left_txt {
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.7;
  color: var(--txt-gray02);
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 70px;
}
.main_searhbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 55px;
}
.main_searhbox > input {
  flex: 1;
  height: 100%;
  border-radius: 32px 0 0 32px;
  font-size: 16px;
  padding: 0 20px;
  font-weight: 400;
  box-sizing: border-box;
  background-color: #fff;
  border: none;
}
.searh_btn {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  border-radius: 0 32px 32px 0;
  background: radial-gradient(circle, #a881fe 0%, #6419ff 100%);
}
.searh_btn > span {
  position: relative;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding-left: 28px;
}
.searh_btn > span::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url(/img/ico/ico_search.svg) no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

/* sec02 */
.section02 {
  background-color: #1c1f2c;
}
.sec02_inner {
  padding: 80px 0 !important;
}
.sec02_tit {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 60px;
  color: var(--txt-gray02);
  letter-spacing: 0;
  text-align: center;
}
.section02 .api_list {
  width: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.section02 .api_list > li > a {
  height: 60px;
  display: block;
}
.section02 .api_list > li:first-child > a {
  height: 36px;
}
.section02 .api_list > li:last-child > a {
  height: 25px;
}
.section02 .api_list > li > a > img {
  height: 100%;
  display: block;
}

/* sec03 */
.sec03_list_wrap {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
}
.sec03_list_wrap > li {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  text-align: center;
}
.sec03_list_wrap > li > span {
  color: #fff;
  font-size: 33px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1px;
}
.sec03_img {
  width: 98px;
}
.sec03_img > img {
  width: 100%;
}
.sec03_txtbox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sec03_list_tit {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.5px;
  color: #fff;
}
.sec03_list_tit > span {
  color: var(--main-pink);
}
.sec03_list_txt {
  color: var(--txt-gray02);
  font-size: 16px;
  letter-spacing: -0.5px;
  line-height: 1.6;
  font-weight: 400;
}

/* sec04 */
.section04 {
  background-color: #171921;
}
.sec04_tab_wrap {
  display: flex;
  justify-content: center;
}
.sec04_tab {
  padding: 6px 52px;
  border-radius: 30px;
  background-color: var(--list_hover);
  display: inline-flex;
  justify-content: center;
  margin-bottom: 40px;
}
.sec04_tab > li > a {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  display: block;
  padding: 10px 36px;
}
.sec04_tab > li.on > a {
  background-color: #171921;
  border-radius: 30px;
  font-weight: 700;
}
.sec04_slider_wrap {
  width: 100%;
  position: relative;
}
.sec04_slider {
  width: 100%;
  padding-bottom: 32px;
}
.sec04_slider > ul > li {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
  gap: 20px;
}
.sec04_img {
  width: 100%;
  height: 130px;
  border-radius: 18px;
  overflow: hidden;
}
.sec04_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sec04_tit {
  font-size: 18px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 20px;
}
.sec04_txt {
  line-height: 1.4 !important;
}
.sec04_txt_bott {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.sec04_new_ect {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec04_new_ect > li {
  font-size: 15px;
  color: var(--txt-gray02);
  line-height: 1;
  letter-spacing: -0.5px;
  font-weight: 400;
}
.se04_more_btn {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.5px;
  padding: 12px 24px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: var(--main-violet);
}
.sec04_slider_wrap .swiper-pagination,
.results_slider .swiper-pagination {
  z-index: 2;
  top: auto !important;
  bottom: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  display: flex;
  justify-content: center;
  gap: 3px;
}
.swiper-pagination-bullet {
  width: 9px !important;
  height: 9px !important;
  background-color: #fff !important;
}
.swiper-pagination-bullet-active {
  width: 16px !important;
  border-radius: 20px !important;
  background-color: var(--main-violet) !important;
}

/* sec05 */
.main_chart_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.main_chart_list > li {
  width: calc(100% / 5 - 40px);
  border-radius: 14px;
  padding: 24px;
  box-sizing: border-box;
  background-color: var(--list_hover);
}
.main_chart_tit {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 16px;
}
.main_chart_txt {
  color: var(--txt-gray01);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3;
}
.main_chart_view {
  border-radius: 14px;
  width: 100%;
  height: 180px;
  background-color: #dcd1f4;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
}

/* sec06 */
.section06 {
  background-color: #171921;
}
